@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var args = new object[] { "https://docs.microsoft.com/aspnet/core" };
}

<div class="text-center">
    <h1 class="display-4" localize-content>Welcome</h1>
    <p localize-args="args">Learn about <a href="{0}"> building Web apps with ASP.NET Core</a>.</p>
</div>
