@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var args = new object[] { "https://docs.microsoft.com/aspnet/core", "https://docs.ziyad.info" };
}

<div class="text-center">
    <h1 class="display-4" localize-content>Welcome</h1>
    <localize localize-args="args">
        <p>Learn about <a href="{0}"> building Web apps with ASP.NET Core</a>.</p>
        <p>Learn about <a href="{1}"> XLocalizer for ASP.NET Core</a>.</p>
    </localize>
</div>
